
form {
  margin-top: 15px;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 255);
  border: solid 2px rgb(131, 131, 248);
  border-radius: 25px;
}

.modal form {
  margin-top: 0;
}

input {
  background-color: rgb(255, 255, 255);
}

form button, .card button {
  width: 50%;
  min-width: 10rem;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
}

#formActions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  --bs-modal-header-padding: 0.5rem 0.5rem;
}

#buttonFloat {
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  // transform: translateX(-50%);
  z-index: 20;
  text-wrap: wrap;
  width: 5.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 100%;
  font-weight: 500;
}

.container-xxl {
  margin-bottom: 5rem;
}