$primary: #e0ffe8;
$secondary: #7717bb;

.card {
  background-color: $primary;
  margin-top: 15px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(102, 184, 91);
  border-radius: 25px;
}

.btn-info {
  background-color: $secondary;
  color: #ffffff;
}

.cardActions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLabel{
  font-weight: bold;
  margin-bottom: 0.25rem;
}
